.addCourseContainer .container {
    background-color: #fff;
    padding: 2em;
    margin-top: 5em;
    border-radius: 1em;

    .cancel {
        margin-left: 0.5em;
    }

    .durationDescription {
        float: left;
        margin-top: -2em;
        margin-left: 11em;
    }
}