.courseItem {
    background-color: #fff;
    padding: 0.5em;
    margin-bottom: 1em;
}

.courseItem .timeInfo {
    float: right;
    margin: 0.5em;
}

.buttonContainer {
    padding: 1em;
}

.buttonContainer button {
    margin-left: 0.5em;
}