<div class="container courseItem" [appDateHighlight]="courseItem.creationDate"
        [ngClass]="{'topRated': courseItem.topRated}">
    <div class="row">
        <div class="col-sm">
            <div class="timeInfo">{{courseItem.creationDate | date:'d MMMM, y'}}</div>
            <div class="timeInfo">{{courseItem.duration | courseDuration }}</div>
            <span class="title">{{courseItem.title | uppercase}}</span><i class="fa fa-star" *ngIf="courseItem.topRated"></i>
            <p>{{courseItem.description}}</p>
        </div>
        <div class="col- buttonContainer">
            <button class="btn btn-info" (click)="editClick()"><i class="fa fa-edit"></i> Edit</button>
            <button class="btn btn-info" (click)="deleteClick()"><i class="fa fa-remove"></i> Delete</button>
        </div>
    </div>
</div>
