.courseItem {
    background-color: #fff;
    padding: 0.5em;
    margin-bottom: 1em;

    .title {
        font-size: 1.5em;
        padding-right: 0.5em;
    }
    .fa-star {
        color: gold;
    }
    .timeInfo {
        float: right;
        margin: 0.5em;
    }
    .buttonContainer {
        padding: 1em;
    }
    .buttonContainer button {
        margin-left: 0.5em;
    }
    .topRated {
        background-color: lightgoldenrodyellow;
    }
}