<div class="container loginContainer">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" formControlName="username">
            <div *ngIf="formSubmitted && username.errors?.required" class="invalid-feedback">
                Username is required.
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <div *ngIf="formSubmitted && password.errors?.required" class="invalid-feedback">
                Password is required.
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
