#headerContainer {
    width: 100%;
    background-color: #bbb;
    min-height: 4em;
}

#header {
    text-align: right;
    padding: 1em 2em;
}

#headerLogo {
    float: left;
}

#userName {
    padding-right: 1em;
}

.logout {
    cursor: pointer;
    color: royalblue;
}

